<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>
      TurtleTree Labs
    </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bgOrange pd-20 fixed-top">
      <a class="navbar-brand" href="/">
        <img src="/assets/images/Group 94.png" alt="" />
        <a class=" turtleHead" href="/">Turtletree Labs </a>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link scroll" href="#story">Story</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll" href="#how">How </a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll" href="#team">Team </a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll" href="#media">Media </a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll" href="#contact">Contact </a>
          </li>
          <!-- <li class="nav-item" style="display: none;">
            <a class="nav-link" href="#feed">feed </a>
          </li>
          <li class="nav-item" style="display: none;">
            <a class="nav-link" href="#save">save </a>
          </li>
          <li class="nav-item" style="display: none;">
            <a class="nav-link" href="#scale">scale </a>
          </li> -->
        </ul>
      </div>
    </nav>
    <header id="header">
      <div class="stickyHeader">
      <h1>
        Clean Milk for
      </h1>
      <h1>People & Planet.</h1>
    </div>

    </header>
    <section class="row" id="feed"> 
      <div class="col-md-6 col-lg-6 col-xl-6 col-12  paras">
        <p>
          We envision a future where all children and families
        </p>
        <p>
          anywhere in the world have access to safe, clean
        </p>
        <p>
          milk and byproducts of full-composition, function,
        </p>
        <p>
          and flavor.
        </p>
        <p class="bottomLine"></p>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-6 col-12">
        <img src="./assets/images/Links/1.png" alt="" />
      </div>
    </section>
    <section class="row" id="save">
      <div class="col-md-6 col-lg-6 col-xl-6 col-12">
        <img src="./assets/images/Links/2.png" alt="" />
      </div>
      <div class="col-md-6 col-lg-6 col-xl-6 col-12  paras">
        <p>
          TurtleTree Lab’s proprietary cell-based processes
        </p>
        <p>
          creating clean milk completely bypass the
        </p>
        <p>
          environmental degradation and animal welfare issues
        </p>
        <p>
          of industrial dairy, nourishing individuals and societies
        </p>
        <p>
          and reducing environmental, social, and economic
        </p>
        <p>
          stressors.
        </p>
        <p class="bottomLine"></p>
      </div>
    </section>
    <section class="row" id="scale">
      <div class="col-md-6 col-lg-6 col-xl-6 col-12  paras">
        <p>
          Supported by leading scientific, governmental, and
        </p>
        <p>
          investment partners, TurtleTree Labs will license
        </p>
        <p>
          technical capabilities to the world’s leading
        </p>
        <p>
          packaging facilities to scale rapidly into the $670B
        </p>
        <p>
          global dairy market.
        </p>
        <p class="bottomLine"></p>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-6 col-12">
        <img src="./assets/images/Links/3.png" alt="" />
      </div>
    </section>
    <article id="story">
      <div class="story">
        <h1>Story</h1>
        <p>Sustainable cell-based food tech 3.0 startup</p>
        <p>addresses US $700B global dairy market and</p>
        <p>environmental crisis with ‘clean milk’</p>
        <p class="bottomLine"></p>
      </div>
      <div class="container storyBottom">
        <div class="row">
          <div class="col-lg-6 col-xl-6 col-12" style="padding-right: 30px;">
            <p>
              TurtleTree Labs is a big-vision, proprietary sustainable food
              technology venture boldly addressing a multi-billion dollar global
              dairy market opportunity with the capability to create enormous
              financial and social value by providing accessible nourishment
              while staving off the threats of food, economic, and
              socio-political insecurities.
            </p>
            <h3>About the Company</h3>
            <p>
              TurtleTree Labs is a Singapore-based startup addressing the value
              gap created by an insufficient and unsustainable animal-based
              dairy industry.
            </p>
            <p>
              Cell-based methods are used to make ‘clean milk’ and cultured
              byproducts. Founders include alumni of Google, other U.S. and
              Asian productively disruptive technology ventures, and a leading
              U.S. traditional dairy.
            </p>
            <h3>Products and Services</h3>
            <p>
              The company has created patent-protected technologies to make
              full-composition, full-functionality, full-flavor milk referencing
              humanely selected dairy cow cells then mimicking the natural
              process of milk production in the lab, essentially making real
              milk without the pollution, inefficient use of land, water and
              energy (natural resources), pathogen and disease risk, and tangled
            </p>
          </div>
          <div class="col-lg-6 col-xl-6 col-12">
            <p>
              regulatory politics. The product will be 95% less resource
              consumptive. TurtleTree will own the technologies that make the
              milk, leveraging and enabling its IP across global regions and
              manufacturers. Principal revenue streams include licensing,
              enablement consulting, and royalties. Additional revenue may
              include branded consumer products distributed regionally by global
              dairy companies.
            </p>
            <h3>
              Strategic Considerations
            </h3>
            <p>
              The company is advantaged by committed support from the various
              Singapore government agencies, in alignment with Singapore's goals
              to produce 30% of its own nutritional needs by 2030. The company
              will first address a propitious market opportunity in Asia, then
              move into other promising market areas similarly driven by
              increasing populations seeking better nourishment or encumbered by
              poor dairy infrastructure and declining environmental quality.
            </p>
            <p>
                Licensing the technology to powerful local processors and distributors pierces their hegemonic operating environments and defenses, further building company value.
            </p>
            <p>
                TurtleTree improves on each key driver—Nutritional value, food safety, convenience.
            </p>
          </div>
        </div>
      </div>
    </article>
    <p class="fullBottomLine"></p>
    <article id="how">
        <div class="story" >
          <h1>How</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing </p>
          <p>elit, sed do eiusmod tempor incididunt ut labore et </p>
          <p>dolore magna aliqua. Ut enim ad minim</p>
          <p class="bottomLine"></p>
        </div>
        <div class="container storyBottom">
          <div class="row">
            <div class="col-12">
              <img style="width: 100%;" src="./assets/images/formation.jfif" alt="">
            </div>
        </div>
        <div class="row unedrFormations">
        <div class="col-2">
          <p>Stem Cells</p>
        </div>
        <div class="col-2">
          <p>Bioreaction</p>
        </div>
        <div class="col-2">
          <p>Formation</p>
        </div>
        <div class="col-2">
          <p>Linkage</p>
        </div>
        <div class="col-2">
          <p>Flow</p>
        </div>
        

        </div>
      </article>
      <p class="fullBottomLine"></p>
      <article  id="team">
        <div class="story">
          <h1 style="margin-bottom: 100px;">Team.</h1>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-3 teamCards">
              <img src="./assets/images/Links/Fengru Lin.png" alt="">
              <p class="name">Fengru Lin</p>
              <p class="desig">CEO</p>
            </div>
          <div class="col-lg-3 col-3 teamCards">
            <img src="./assets/images/Links/Max Rye.png" alt="">
            <p class="name">Max Rye</p>
            <p class="desig">CoFounder/CTO</p>
          </div>
          <div class="col-lg-3 col-3 teamCards">
            <img src="./assets/images/Links/Dr Rabail Toor.png" alt="">
            <p class="name">Dr Rabail Toor</p>
            <p class="desig">Co-founder/Chief Scientist</p>
          </div>
          <div class="col-lg-3 col-3 teamCards">
            <img src="./assets/images/Links/Dr Gen Yong.png" alt="">
            <p class="name">Dr Gen Yong</p>
            <p class="desig">CTO</p>
          </div>
          <div class='teamDetails'id="t1">
            <h4>Fengru Lin</h4>
            <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum

            </p>
          </div>
          <div class="col-lg-3 col-3 teamCards">
            <img src="./assets/images/Links/Dr Jonathan Loh.png" alt="">
            <p class="name">Dr Jonathan Loh</p>
            <p class="desig">CIO</p>
          </div>
          <div class="col-lg-3 col-3 teamCards">
            <img src="./assets/images/Links/Alankar Joshi.png" alt="">
            <p class="name">Alankar Joshi</p>
            <p class="desig">CFO</p>
          </div>
          <div class="col-lg-3 col-3 teamCards">
            <img src="./assets/images/Links/Dr Saher Shahid.png" alt="">
            <p class="name">Dr Saher Shahid</p>
            <p class="desig">Head Molecular Biologist</p>
          </div>
          <div class="col-lg-3 col-3 teamCards">
            <img src="./assets/images/Links/Maira Tariq.png" alt="">
            <p class="name">Maira Tariq</p>
            <p class="desig">Head Cell Biologist</p>
          </div>
          <div class="col-lg-3 col-3 teamCards">
            <img src="./assets/images/Links/Faisal Muhammad.png" alt="">
            <p class="name">Faisal Muhammad</p>
            <p class="desig">Cell Biologist</p>
          </div>
          <div class="col-lg-3 col-3 teamCards">
            <img src="./assets/images/Links/Sana Batool.png" alt="">
            <p class="name">Sana Batool</p>
            <p class="desig">Molecular Biologist</p>
          </div>
          <div class="col-lg-3 col-3 teamCards">
            <img src="./assets/images/Links/Mkulima Britt.png" alt="">
            <p class="name">Mkulima Britt</p>
            <p class="desig">Finance Advisor</p>
          </div>
          <div class="col-lg-3 col-3 teamCards">
            <img src="./assets/images/Links/Billie Thein.png" alt="">
            <p class="name">Billie Thein</p>
            <p class="desig">PR & Marketing Advisor</p>
          </div>
        </div>

        </div>
      </article>
      <p class="fullBottomLine"></p>
      <article id="media">
        <div class="story" >
          <h1 style="margin-bottom: 100px;">Media.</h1>
        </div>
        <div class="container">
          <div class="row">

        </div>
        </div>
      </article>
      <p class="fullBottomLine"></p>
      <article>
        <div class="story" id="contact">
          <h1 style="margin-bottom: 30px;">Contact.</h1>
          <h5 style="font-family: 'regular';">For U.S. Media Inquires: </h5>
          <p style="color:#88959E; margin-bottom: 30px;">u.s.media@turtletreelabs.com</p>
          <h5 style="font-family: 'regular';">For Asia Inquires: </h5>
          <p style="color:#88959E">asia.media@turtletreelabs.com</p>
        </div>
      </article>
      <footer>
        <div>
          <div class="row">
            <div class="col-lg-4 col-6">
              <h5 class="location">Singapore</h5>
              <div class="locaDetails">
                <p>+1 555 555 55 55</p>
                <p>
                  YourInfo@example.com
                  <br>
                  Addresses: 123 Street, City, 
                  <br>
                  State 45678
                </p>
               
              </div>
            </div>
            <div class="col-lg-4 col-6">
              <h5 class="location">San Francisco</h5>
              <div class="locaDetails">
                <p>+1 555 555 55 55</p>
                <p>
                  YourInfo@example.com
                  <br>
                  Addresses: 123 Street, City, 
                  <br>
                  State 45678
                </p>
                <p>
                  © 2020 TTL All rights reserved
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-12 " style="margin:auto">
              <div class="footerLogo">
                <img src="./assets/images/ftLogo.png" alt="">
              </div>
            </div>

          </div>
        </div>
      </footer>
  </body>

  <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"
  ></script>
  <script src="/js/scripts.js"></script>
  <script src="/js/jquery.js"></script>
</html>
